<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Basic Register{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
    {% endblock %}
</head>
<body>

    <div class="container-fluid pt-4">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 mb-2 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ indexPage }}">Basic Register</a>
        </nav>
        <div class="row min-vh-100">
            <div role="navigation" class="col-md-2 ml-sm-auto bg-secondary">
                {% include 'menu.html.twig' %}
            </div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% include 'flash-message.html.twig' %}
                {% block body %}
                {% endblock %}
            </main>
        </div>
    </div>

</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
