{% extends 'base.html.twig' %}
{% block body %}
    <div class="h-100 row align-items-center">
        <div class="col align-content-center">
            <h2 class="text-center text-secondary">Basic Register</h2>
        </div>
    </div>
{% endblock %}