<nav class="col-lg-10 d-none d-md-block sidebar pt-3">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {% for item in menuItems %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ item.route }}">
                        <span data-feather="layers"></span>
                        {{ item.description }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>