{% extends 'base.html.twig' %}
{% block body %}
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-black">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
                        <h4>New Client</h4>
                        <div class="px-2">
                            <div class="row">
                                <div class="col-md-12">
                                    {% set stepOne = 'bg-secondary' %}
                                    {% set stepTwo = 'bg-secondary' %}
                                    {% set stepThree = 'bg-secondary' %}
                                    {% if flow.getCurrentStepNumber() == 1 %}
                                        {% set stepOne = '' %}
                                    {% elseif flow.getCurrentStepNumber() == 2 %}
                                        {% set stepOne = 'bg-success' %}
                                        {% set stepTwo = '' %}
                                    {% elseif flow.getCurrentStepNumber() == 3 %}
                                        {% set stepOne = 'bg-success' %}
                                        {% set stepTwo = 'bg-success' %}
                                        {% set stepThree = '' %}
                                    {% endif %}
                                    <div class="progress">
                                        <div class="progress-bar {{ stepOne }}"
                                             role="progressbar"
                                             style="width: 34%" aria-valuenow="34"
                                             aria-valuemin="0"
                                             aria-valuemax="100">Personal Information</div>
                                        <div class="progress-bar {{ stepTwo }}"
                                             role="progressbar"
                                             style="width: 33%" aria-valuenow="33"
                                             aria-valuemin="0"
                                             aria-valuemax="100">Address</div>
                                        <div class="progress-bar {{ stepThree }}"
                                             role="progressbar"
                                             style="width: 33%" aria-valuenow="33"
                                             aria-valuemin="0"
                                             aria-valuemax="100">Payment</div>
                                    </div>

                                </div>
                            </div>
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {{ form_rest(form) }}

                            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                                craue_formflow_button_class_last: 'btn btn-primary mr-1',
                                craue_formflow_button_class_back: 'btn btn-secondary mr-1',
                                craue_formflow_button_class_reset: 'btn btn-warning mr-1',
                            } %}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}