{% extends 'base.html.twig' %}
{% block body %}
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-black text-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
                        <h1 class="text-success">Success</h1>
                        <p> {{ clientName }} we received your purchase request!</p>
                        {% if paymentResult['paymentDataId'] is defined %}
                            <p> Your payment ID is: {{ paymentResult['paymentDataId'] }}</p>
                        {% else %}
                            <p class="text-danger">
                                But something went wrong with your payment, we will get in touch with you soon
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}